{% extends "base.html" %}

{% block title %}
    Upload File
{% endblock %}

{% block content %}

    <section class="container-fluid">

        {% if fileError is defined %}
        <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
            <strong>Failed: </strong>{{ fileError }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        {% if products is defined %}
        <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
            Records have been successfully imported.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        <h5 class="bg-light py-2 my-4">Upload CSV File</h5>

        <div class="row justify-content-around">
                
            <div class="col-sm-6 col-lg-5">

                <form class="col mx-auto" method="post" action="/csv-file/read" enctype="multipart/form-data" id="fileForm">
                    
                    <div class="custom-file text-left mb-4">
                        <label class="custom-file-label" for="customFileLang">Choose File</label>
                        <input type="file" class="custom-file-input" id="customFileLang" name="csvFile" lang="en" required>
                        <small class="form-text text-danger">{{ inputError }}</small>
                    </div>
                    
                    <button class="col-lg-6 btn btn-primary my-3" type="submit">Send</button>

                </form>

            </div>

        </div>

        {% if products is defined %}

        <table class="col-lg-10 table table-responsive-sm table-striped mx-auto my-4">
                
            <tbody>
                        
                <thead>
                    <caption class="py-2 text-white bg-secondary">Import Information</caption>
                    <tr>
                        <th>Table name</th>
                        <th>Total records</th>
                        <th>Saved record</th>
                        <th>Incorrect or duplicated records</th>
                    </tr>
                </thead>

                <tr>
                    <td>product</td>
                    <td>{{ products.totalRecords }}</td>
                    <td>{{ products.addedProducts }}</td>
                    <td>{{ products.totalRecords - products.addedProducts }}</td>
                </tr>

                <tr>
                    <td>author</td>
                    <td>{{ products.totalRecords }}</td>
                    <td>{{ products.addedAuthors }}</td>
                    <td>{{ products.totalRecords - products.addedAuthors }}</td>
                </tr>

                <tr>
                    <td>producer</td>
                    <td>{{ products.totalRecords }}</td>
                    <td>{{ products.addedProducers }}</td>
                    <td>{{ products.totalRecords - products.addedProducers }}</td>
                </tr>

                <tr>
                    <td>publication_date</td>
                    <td>{{ products.totalRecords }}</td>
                    <td>{{ products.addedDates }}</td>
                    <td>{{ products.totalRecords - products.addedDates }}</td>
                </tr>

            </tbody>
                    
        </table>

        {% endif %}
        
    </section>

{% endblock %}

{% block links %}
    
    <script src="/js/csv.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha256-+BEKmIvQ6IsL8sHcvidtDrNOdZO3C9LtFPtF2H0dOHI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js" integrity="sha512-6Uv+497AWTmj/6V14BsQioPrm3kgwmK9HYIyWP+vClykX52b0zrDGP7lajZoIY1nNlX4oQuh7zsGjmF7D0VZYA==" crossorigin="anonymous"></script>

{% endblock %}
