{% extends "base.html" %}

{% block title %}
    Order
{% endblock %}

{% block content %}

    {% if fileError is defined %}
    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        <strong>Error</strong>{{ fileError }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <section class="container-fluid">

        <h5 class="bg-light py-2 my-4">Upload CSV File</h5>

        <div class="row justify-content-around">
                
            <div class="col-sm-6 col-lg-5">

                <form class="col mx-auto" method="post" action="/csv-file/read" enctype="multipart/form-data" id="fileForm">
                    
                    <div class="custom-file text-left mb-4">
                        <label class="custom-file-label" for="customFileLang">Choose File</label>
                        <input type="file" class="custom-file-input" id="customFileLang" name="csvFile" lang="en" required>
                        <small class="form-text text-danger">{{ inputError }}</small>
                    </div>
                    
                    <button class="col-lg-6 btn btn-primary my-3" type="submit">Send</button>

                </form>

            </div>

        </div>
            
        </form>
        
    </section>

{% endblock %}

{% block links %}
    
    <script src="/js/csv.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha256-+BEKmIvQ6IsL8sHcvidtDrNOdZO3C9LtFPtF2H0dOHI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js" integrity="sha512-6Uv+497AWTmj/6V14BsQioPrm3kgwmK9HYIyWP+vClykX52b0zrDGP7lajZoIY1nNlX4oQuh7zsGjmF7D0VZYA==" crossorigin="anonymous"></script>

{% endblock %}
